<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

{% block header %}

    <h1>Заголовок</h1>

    <div id="login">
        {% if user.is_authenticated %}
            <span>Здравствуйте, {{ user.username }}</span>
            <span><a href="{% url 'core:logout' %}">Выход</a></span>
        {% else %}
            <a href="{% url 'core:login' %}">Логин</a><br>
            <a href="{% url 'core:register' %}">Регистрация</a>
        {% endif %}
    </div>

{% endblock %}

{% block menu %}

    <a href="/">Главная</a>
    <a href="{% url 'questions:categories_list' %}">Категории</a>
    <a href="{% url 'core:show_users' %}">Пользователи</a>

{% endblock %}

{% block content %}

    <div><p>content</p></div>

{% endblock %}

{% block footer %}

    <footer>footer</footer>

{% endblock %}

</body>
</html>