{% extends 'base.html' %}

{% block content %}

    <h1>Вопрос</h1>
    <div>
        <p>Категории:
{#            {% for category in question.category.all %}#}
{#                <a href="{% url 'questions:category_detail' pk=category.pk %}">{{ category }}</a>#}
{#            {% endfor %}#}
            {% include 'question/categories_list_href.html' with categories=question.category.all delimiter=', ' %}
        </p>
    </div>

    <div>
        <small>Дата добавления: {{ question.posted_date }}</small>
        <p>Автор: {{ question.author }}</p>
        <p>Заголовок: {{ question.title }}</p>
        <p>Текст: {{ question.text }}</p>

        <h1>Ответы</h1>
        {% for answer in question.answers.all %}
            <div>
                {{ answer.author }}: <b>{{ answer.title }}</b><br>
                {{ answer.text }}
            </div><br>
        {% endfor %}
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>

{% endblock %}