{% extends 'base.html' %}

{% block title %}
    {% include 'title.html' with title='Вопроc '|add:question.title %}
{% endblock %}

{% block content %}

    {% if request.GET.deleted == '' %}
        {% include 'question/includes/alert.html' with alert_class='alert-success' message='Вопрос успешно удален!' %}
    {% elif request.GET.error_deleting == '' %}
        {% include 'question/includes/alert.html' with alert_class='alert-danger' message='При удалении вопроса произошла ошибка!' %}
    {% elif request.GET.restored == '' %}
        {% include 'question/includes/alert.html' with alert_class='alert-success' message='Вопрос успешно восстановлен!' %}
    {% elif request.GET.error_restoring == '' %}
        {% include 'question/includes/alert.html' with alert_class='alert-danger' message='При восстановлении вопроса произошла ошибка!' %}
    {% endif %}

    <h1>{{ question.title }}</h1>
    <div>
        <p>Категории:
            {% include 'question/includes/categories_list_href.html' with categories=question.category.all delimiter=', ' %}
        </p>
    </div>

    <div>
        <small>Добавлено: {{ question.posted_date }}</small>
        <p>Автор: {{ question.author }}</p>
        <p class="custom-wrap">{{ question.text }}</p>

        {% if not question.is_deleted %}
            {% include 'question/includes/update_post.html' with post=question url='questions:update_question' update_text='Редактировать вопрос' method='GET' %}
            {% include 'question/includes/update_post.html' with post=question url='questions:delete_question' update_text='Удалить вопрос' method='POST' %}
        {% else %}
            {% include 'question/includes/update_post.html' with post=question url='questions:restore_question' update_text='Вернуть вопрос' method='POST' %}
        {% endif %}

        <h2>Ответы</h2>

        {% for answer in question.answers.all %}

            <div id="answer_{{ answer.pk }}" class="custom-list" style="margin-bottom: 20px;">

                <span class="custom-wrap">

                    <span class="lead underline">{{ answer.author }}</span><br> {{ answer.text }}

                    <button class="btn btn-success like" style="margin-bottom: 15px;"
                            data-url="{% url 'likes:like' pk=answer.pk %}" data-postid="{{ answer.pk }}">
                        <i class="glyphicon glyphicon-heart"></i>
                        <span id="likes-{{ answer.id }}"></span>
                    </button>

                </span>
                {% if not question.is_deleted %}
                    {% include 'question/includes/update_post.html' with post=answer url='questions:update_answer' update_text='Редактировать ответ' method='get' %}
                {% endif %}

            </div>

        {% endfor %}
    </div>

    {% if not question.is_deleted %}
        {% load widget_tweaks %}
        <div class="custom-form">
            <p>Новый ответ</p>
            <form action="" method="post" role="form">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-md-6">

                        <label for="id_text">Ответ</label>
                        {% render_field form.text class='form-control' %}

                    </div>
                </div>

                <input type="submit" value="Ответить">
            </form>
        </div>
    {% endif %}

{% endblock %}